body {
    background-color: #F2D8C2;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #98909F;
    border: solid 20px #D3AFAF;
    padding: 50px;
    border-radius: 10px;
}

.title {
    font-size: 30px;
}

.top {
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-container {
    height: 250px;
    width: 250px;
    border: solid 5px black;
    border-radius: 5px;
}

.images {
    height: 250px;
    width: 250px;
}

.buttons {
    display: flex;
}
#result {
    font-size: 30px;
    color: #2D3743;
}

#score {
    font-size: 20px;
    padding: 10px;
    color: #2D3743;
    border: solid 3px #7787A6;
}

button {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

