body {
    background-color: #DAE8F2;
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
    font-weight: bold;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-color: #84B3D4;
    border: solid 20px #003972;
    padding: 50px;
    border-radius: 10px;
}

.title {
    text-shadow: 2px 2px 4px black;
    font-size: 34px;
    color: white;
}

.top {
    /* margin-bottom: 20px; */
    display: flex;
    align-items: center;
    gap: 20px;
}

.image-container {
    height: 250px;
    width: 250px;
    border: solid 5px black;
    border-radius: 5px;
}

.images {
    height: 250px;
    width: 250px;
}

.buttons {
    display: flex;
}
#result {
    font-size: 30px;
    text-shadow: 2px 2px 4px black;
    color: white;
}

#score {
    font-size: 20px;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px black;
    border: solid 4px black;
    border-radius: 5px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    background-color: #EFF3F6;
    border-radius: 8px;
}

